@font-face {
    font-family: 'Myriad-Pro';
    src: url('/fonts/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Myriad-Pro';
    src: url('/fonts/MyriadPro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  